.container {
    display: inline-grid;
    background-color: lightblue;
    grid-template: 40px 40px 40px 40px 40px / 
    40px 40px 40px 40px 40px;
    grid-template-areas:
        "living-room living-room living-room living-room living-room"
        "living-room living-room living-room living-room living-room"
        "bedroom bedroom bathroom kitchen kitchen"
        "bedroom bedroom bathroom kitchen kitchen"
        "closet closet . . .";
}

.room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
}

#kitchen {
    grid-area: kitchen;
}

#living-room {
    grid-area: living-room;
}

#bathroom {
    grid-area: bathroom;
}

#bedroom {
    grid-area: bedroom;
}

#closet {
    grid-area: closet;
}
